@import "colors"
@import "functions"

// aqui ficam as classes mais usadas por mim nos meus CSSs
*, *:before, *:after
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
html
	-webkit-font-smoothing: antialiased

.container
	width 1024px
	clear both
	margin 0 auto
	position relative
@media all and (max-width: 1064px)
	.container
		width calc(100% - 30px)
		
a
	text-decoration none
ul
	list-style-type none
	margin 0
	padding 0
main
	clear both
	height auto
	width 100%

// formulários
input[type=text], input[type=number], input[type=password], input[type=tel], input[type=email], textarea, select
	background #fff
	width 100%
	margin-bottom 5px
	border 1px solid #e3e3e3
	border-radius 0
	font-size 13px
	transitions(.4s)
	padding 8px
	color #000
	&:focus
		border-color #ccc
		transitions(.4s)
		outline none
	&.error
		border 1px solid red
*:focus
	outline none

input[type=file]
	width 280px
	font-size 12px
select
	border-radius 0
	-webkit-appearance none
	-moz-appearance none
	appearance none
	background-image url('../img/seta.png')
	background-repeat no-repeat
	background-position right center
	color #000
	&:focus, &:hover
		background-image url('../img/seta-hover.png')
textarea
	resize none
	height 171px
fieldset
	border none
	padding 0
	margin 0
.hide
	display none !important
.tar
	text-align right
.tal
	text-align left
.ttu
	text-transform uppercase
.ttn
	text-transform none
.fwn
	font-weight normal
.fwb
	font-weight bold
.fsi
	font-style italic
.pull-left
	float left
.pull-right
	float right
.clb
	clear both
.ovh
	overflow hidden
.ovv
	overflow visible !important
.tac
	text-align center
.posr
	position relative
.dib
	display inline-block
.hidden
	opacity 0
	height 0
	width 0
	overflow hidden
.dtb
	display table
.wsnw
	white-space nowrap

// estilizando placeholder
::-webkit-input-placeholder
	color #AEAEAE
:-moz-placeholder
	color #AEAEAE
	opacity 1
::-moz-placeholder
	color #AEAEAE
	opacity 1
:-ms-input-placeholder
	color #AEAEAE
	
.box
	position relative
	clear both
	float left
	width 100%
