// rulers
mt(num)
	margin-top num * 1px

ml(num)
	margin-left num * 1px

mr(num)
	margin-right num * 1px

mb(num)
	margin-bottom num * 1px

pt(num)
	padding-top num * 1px

pl(num)
	padding-left num * 1px

pr(num)
	padding-right num * 1px

pb(num)
	padding-bottom num * 1px


// aqui tem classes que são muito utilizadas
.pull-left
	float left

.pull-right
	float right

// padrões Mateus
a
	text-decoration none