@import "normalize"
@import "functions"
@import "base"
html
	font-family 'Roboto', sans-serif
h1
	font-size 60px
	line-height 1
	text-align center
	margin 0 0 20px
	color #eff3f3
p
	font-size 14px
	font-weight 300
	color #35495d
a
	color #405EA0
header
	width 100%
	height 100vh
	z-index 1
	background rgba(21, 36, 64, .9)
	z-index 10
	padding 10px
	float left
	clear both
	position relative
	transitions(.2s, opacity, cubic-bezier(0.815, 0.390, 0.345, 1.005))
	will-change opacity
	&.active
		transitions(.2s, opacity, cubic-bezier(0.815, 0.390, 0.345, 1.005))
		.center
			opacity 0
			transitions(.2s, opacity, cubic-bezier(0.815, 0.390, 0.345, 1.005))
	.center
		width 710px
		centerPerfect()
		color #eff3f3
	p
		font-size 18px
		font-weight 300
		line-height 1.5
		text-align center
		margin 0
		color #eff3f3
footer
	transitions(.2s, opacity, ease-in-out)
	position absolute
	bottom 0
	width 100%
	height 40px
	left 0
	line-height 40px
	text-align center
	color #fff
	font-size 12px
	z-index 10
	p
		color #fff
		margin 0
	a
		color #fff
		border-bottom 1px dotted #ccc
		padding-bottom 2px

.mask
	filler()
	background rgba(21, 36, 64, 0.9)
	opacity 0
	transitions(.3s)
	will-change opacity
	height 0
	z-index 12
	&.active
		height 100%
		opacity 1
		
		transitions(.3s)
		will-change opacity, transform
.view-project-img
	box()
	border-radius 0 20px 0 20px
	height 200px
	overflow hidden
	border-bottom 3px solid #ddd
	&.icon
		border-bottom none
	.view-project-img-src
		box()
		height 200px
		background-repeat no-repeat
		background-position 50% 50%
		&.active
			background-size cover
		&.icon
			background-size auto 160px
.mateus
	width 300px
	height 206px
	margin 0 auto 20px
	display block
	border-radius 3px
	border 1px solid lighten(#A79F94, 10%)
	box-shadow 0 0 3px 2px rgba(0,0,0,0.15)
	background-repeat no-repeat
.view-project-buttons
	box()
	margin 10px 0 20px
	text-align center
	background #f7f7f7
	border-radius 34px
	.btn
		margin-top 0
	.arrow
		cursor pointer
		position absolute
		top 50%
		transform translateY(-50%)
		background rgba(21, 36, 64, 1)
		border-radius 34px
		width 34px
		height 34px
		background-repeat no-repeat
		background-position center center
		background-size 20px auto
		transitions(.2s)
		&:hover
			background-color lighten(rgba(21, 36, 64, 1), 10%)
			transitions(.2s)
		&:active
			transform translateY(-50%) scale(0.98)
			box-shadow inset 2px 2px 3px 3px rgba(0,0,0,0.2)
			background-color lighten(rgba(21, 36, 64, 1), 18%)
			transitions(.2s)
		&.arrow-next
			right 0
			background-image url('../img/chevron-thin-right.svg')
		&.arrow-prev
			left 0
			background-image url('../img/chevron-thin-left.svg')

.view-project
	position fixed
	top 0
	width 600px
	transitions(.3s)
	will-change right
	background #fff
	height 100vh
	overflow auto
	z-index 13
	padding 20px
	&.right
		right -600px
		&.active
			right 0
			will-change right
	&.left
		left -600px
		&.active
			left 0
			will-change left
	&.active
		transitions(.3s)
	hr
		border-color #ccc
	h2
		margin 0 0 20px
		font-size 32px
		text-transform uppercase
		border-bottom 1px dotted #ccc
		font-weight 800
		color #404041
		small
			font-weight bold
			font-size 13px
			color green
	p
		display block
		line-height 1.5
		clear both
	p, label
		font-size 14px
		color #404041
	label
		font-weight 300
	button.btn
		border none
		float right
		font-size 16px
		font-weight 300
	.close2
		float right
		font-size 40px
		top -6px
		position relative
		line-height 1
		font-weight lighter
		cursor pointer
		display inline-block
		transitions(.2s)
		will-change color
		&:hover
			color red
			transitions(.2s)
			will-change color
	

.btn
	padding 8px 15px
	margin-top 10px
	background #172642
	color #fff
	border-radius 3px
	display inline-block
	font-size 13px
	transitions(.2s)
	&:hover
		background lighten(#172642, 10%)
		transitions(.2s)
main
	z-index 1
	position absolute
	top 0
	left 0
	width 100%
	height 100vh
	background-color transparent
	transitions(.3s)
	opacity .6
	transform scale(0.98)
	will-change opacity, transform
	padding 0
	overflow auto
	&.active
		transform scale(1)
		will-change opacity, transform
		z-index 11
		transitions(.3s)
		opacity 1
.close
	position absolute
	top 10px
	right 10px
	border-radius 100px
	background #111
	color #efefef
	line-height 32px
	font-size 35px
	display block
	width 35px
	height 35px
	text-align center
	cursor pointer
	z-index 10
	transitions(.2s)
	will-change background, transform
	&:hover
		background #000
		color #fff
		transitions(.2s)
		will-change background, transform
		transform scale(1.2)
.lista-projetos
	display block
	font-size 0
	text-align left
	perspective 500
	li
		background-color #000
		padding-bottom calc(25vh - 4px)
		margin 2px
		width calc(20% - 4px)
		vertical-align top
		display inline-block
		position relative
		cursor pointer
		overflow hidden
		transitions(.2s)
		
		&.disponivel
			background #2C3953
			border none
			transform rotate(0)
			.title
				opacity 1
				padding 0 20px
			&:hover .bg
				opacity 0
		&.big
			width calc(40% - 4px)
		&:hover
			.bg-foto
				transform scale(2)
				filter blur(50px) opacity(.8)
				transitions(.15s)
				will-change filter
			.title, .bg
				opacity 1
				transitions(.2s)
				will-change opacity
		.title
			opacity 0
			transitions(.3s)
			will-change opacity
			font-size 18px
			text-transform uppercase
			text-align center
			width 100%
			font-weight 300
			centerPerfect()
			color #fff
			z-index 3
		.bg
			filler()
			z-index 2
			background rgba(0, 0, 0, 0.8)
			opacity 0
			transitions(.2s)
			will-change opacity
		.bg-foto
			filler()
			background-repeat no-repeat
			background-position center center
			background-size cover
			transitions(.3s)
			will-change filter
.logo
	color #fff
	font-weight 300
	font-size 32px
	position absolute
	top 30px
	left 30px
	font-weight 100
	background-image url('../img/lightbulb.svg')
	background-repeat no-repeat
	background-position left 57%
	padding-left 32px
.openContacts
	padding 10px 15px
	font-size 14px
	border-radius 1px
	margin 20px auto
	text-transform uppercase
	background #4b6cb7
	margin 0 2px
	border none
	color #fff
	position relative
	transitions(.15s)
	border-bottom 0 solid darken(#4b6cb7, 10%)
	&:hover
		background darken(#4b6cb7, 15%)
		color #eaeaea
		transitions(.15s)
	&:active
		font-weight lighter
		background darken(#4b6cb7, 22%)
		box-shadow inset 0 2px 3px 2px rgba(0,0,0,0.2)

.box-range
	box()
	position relative
	input[type=range]
		width calc(100% - 40px)
	.output
		position relative
		border 1px solid #ccc
		padding 5px 0
		text-align center
		width 30px
		display inline-block
		top -7px
		font-size 13px
		border-radius 3px
		&:after
			content ''
			position absolute
			top 50%
			left -4px
			transform translateY(-50%)
			width 0
			height 0
			z-index 2
			border-style solid
			border-width 2px 4px 2px 0
			border-color transparent #ffffff transparent 
		&:before
			content ''
			position absolute
			top 50%
			left -5px
			transform translateY(-50%)
			width 0
			height 0
			z-index 1
			border-style solid
			border-width 3px 5px 3px 0
			border-color transparent #ccc transparent 
.box
	box()
	margin-bottom 30px
.tipo-projeto
	box()
	font-size 0
	text-align center
	span
		display inline-block
		vertical-align top
		padding 15px 5px
		font-size 13.5px
		margin 0 5px
		color #333
		text-align center
		border-radius 2px
		border 1px solid darken(#fafafa, 10%)
		background #fafafa
		width calc(100% / 3 - 10px)
		transitions(.2s)
		cursor pointer
		&:hover
			background darken(#fafafa, 6%)
			transitions(.2s)
		&.active
			font-weight bold
			color #fff
			border-color #f1c40f
			background darken(#f1c40f, 10%)
			transitions(.2s)
		&.express
			&.active
				font-weight bold
				background #c0392b
				border-color #c0392b
				box-shadow inset 0 0 6px 5px lighten(#c0392b, 10%)
.table
	width 100%
	border 1px solid #ddd
	font-size 13px
	th, td
		text-align left
		padding 5px
		width 50%
		&:nth-child(even)
			text-align right
	td
		border-bottom 1px solid #ddd
	tr
		background #fff
		&:nth-child(even)
			background #f0f0f0
	thead tr
		background #34495e
		color #fff
	tfoot tr
		background #34495e
		color #fff
		font-size 15px
		font-weight bold
.explain
	box()
	position relative
	p
		margin 5px 0 0
		font-size 12px
.box-hurry
	@extends .tipo-projeto
	span
		width calc(100% / 2 - 10px)
.contatos-form
	box()
	z-index 2
	position relative
.form-contact-loading
	filler()
	z-index 2
	background rgba(0,0,0,.7)
	opacity 0
	transitions(.3s)
	&.active
		opacity 1
		transitions(.3s)
		z-index 11
	img
		centerPerfect()
.form-contact-close
	display inline-block
	text-align center
	padding 5px
	border-radius 3px
	background rgba(0,0,0,1)
	color #fff
	font-size 14px
	cursor pointer
	transitions(.3s)
	&:hover
		background darken(rgba(0,0,0,1), 10%)
		transitions(.3s)
.form-contact-form
	box()
	position relative
	z-index 3
	margin-bottom 50px
.form-contact-result
	filler()
	text-align center
	z-index 2
	background rgba(0,0,0,.7)
	opacity 0
	transitions(.3s)
	&.active
		opacity 1
		transitions(.3s)
		z-index 12
	h4
		text-align center
		font-size 32px
		color #fff
		text-transform uppercase
		margin 100px 0 20px
	p
		margin 0 0 10px
		text-align center
		color #fff
.hupx
	color #7B8309
	font-weight bold
	&:hover
		border-bottom 1px dotted #7B8309
.cafe
	color #00B0BE
	font-weight bold
	&:hover
		border-bottom 1px dotted #00B0BE
@media all and (max-width: 1200px)
	.lista-projetos li
		width calc(25% - 4px)
		padding-bottom calc(25% - 2px)
		&.big
			width calc(25% - 4px)
			padding-bottom calc(25% - 2px)
@media all and (max-width: 950px)
	.lista-projetos li
		width calc(33.3333% - 4px)
		padding-bottom calc(33.3333% - 2px)
		&.big
			width calc(33.3333% - 4px)
			padding-bottom calc(33.3333% - 2px)


@media all and (max-width: 700px)

	header 
		.center
			width calc(100% - 20px)
		p
			font-size 16px
	h1
		font-size 45px
	.view-project
		width 100%
		padding 20px 15px
		&.left
			left -100%
		&.right
			right -100%
		h2
			font-size 26px
		.close2
			top -10px
@media all and (max-width: 600px)
	main
		padding 0
		transform scale(1)
		overflow hidden
		&.active
			overflow visible
	.lista-projetos li
		width calc(50% - 4px)
		padding-bottom calc(50% - 2px)
		&.big
			width calc(50% - 4px)
			padding-bottom calc(50% - 2px)
	h1
		font-size 32px
	.logo
		left 50%
		transform translateX(-50%)
		width 164px
		padding-left 26px
		font-size 25px
		background-position left 44%
		background-size auto 26px
	.openContacts
		display block
		margin-bottom 2px
	.tipo-projeto span, .box-hurry span
		width 100%
		margin 0 0 5px
@media all and (max-width: 400px)
	
	.openContacts
		display block
		margin-bottom 2px
	.lista-projetos li
		width 100%
		margin 0 0 4px
		padding-bottom calc(100% - 2px)
		&.big
			width 100%
			margin 0 0 4px
			padding-bottom calc(100% - 2px)
@media all and (max-width: 350px)
	.mateus
		width 100%
		height 0
		padding-bottom 66%
		background-size cover